*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  flex-direction: row;
  padding-left: 29px;
  padding-top: 0;
  gap: 25px;
  align-content: center;
}

.content__details {
  width: 399px;
  padding-left: 3px;
  padding-right: 3px;
}

.search-form {
  display: flex;
}

.title {
  padding-bottom: 17px;
  padding-top: 153px;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  overflow-y: scroll;
  block-size: 298px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding-top: 227px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: grid;
  grid-template-columns: 227px 211px 194px;
  gap: 40px;
  width: 100%;
  align-items: center;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: none;
  inline-size: 100%;
  line-height: 0.5;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding-bottom: 3px;
}

.search-form__label:hover {
  text-decoration: underline 1px #fff;
  text-underline-offset: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: block;
  border: 1px solid #fff;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.search-form__textfield:hover {
  outline: 1px solid #fff;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: block;
  border: 1px solid #fff;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  inline-size: 15px;
  block-size: 15px;
  margin: 1px 0 0 1px;
}

.button {
  border: 1px solid #fff;
  padding: 6px 0;
  margin-top: 17px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  inline-size: 100%;
}

.button:hover {
  text-decoration: underline 1px #fff;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__textfield {
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  color: currentColor;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: transparent;
  inline-size: 225px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 31px;
}

.content__card-link {
  display: block;
  margin: 2px;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline 1px #fff;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current, .content__card-link:active {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  height: 103px;
}

.content__video-card-title {
  padding: 2px 2px 5px;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  padding: 0 2px;
  color: #fff;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  width: 188px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

