*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 29px;
  padding-top: 135px;
}

.search-form {
  display: flex;
}

.content__list {
  position: relative;
  overflow-y: scroll;
  block-size: 298px;
}

.title {
  padding: 0 0 26px;
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding-bottom: 17px; /*check*/
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
 width: 100%;
 height: 100%;
}

.search-form {
 display: grid;
 grid-template-columns: 227px 211px 194px;
  gap: 40px;
  width: 100% ;
  align-items: center;
}


.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: none;
  inline-size: 100%;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding-bottom: 3px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: block;
  border: 1px solid #FFF;
  inline-size: 19px;
  block-size: 19px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  border: 1px solid #FFF;
  padding: 6px 0;
  margin-top: 17px;
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  inline-size: 100%;

}

.search-form__textfield {
  border-top: 1px solid #FFF;
  border-right: none;
  border-bottom: 1px solid #FFF;
  border-left: none;
  color: currentColor;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: transparent;
  inline-size: 225px;
}

.content__list {
  position: relative;
  overflow-y: scroll;
  block-size: 298px;
  scrollbar-width: none;
}

.content__list::-webkit-scrollbar {
  display: none;
}

.content__list-item:not(:last-child) {
  margin: 0 0 34px;
}

.content__card-link {
  display: block;
  margin: 2px;
  text-decoration: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline 1px #FFF;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-title {
  padding: 2px 2px 5px;
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  hyphens: auto;
}

.content__video-card-description {
  padding: 0 2px;
  color: #FFF;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}